In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier , GradientBoostingClassifier
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import confusion_matrix

In [54]:
df = pd.read_csv("C:/Users/Rakin Shahriar/Desktop/DT_classify/iris.csv")

In [55]:
df.shape

(150, 5)

In [56]:
df.head(5)

   sepal_len  sepal_wid  petal_len  petal_wid  class
0        5.1        3.5        1.4        0.2  Iris-setosa
1        4.9        3.0        1.4        0.2  Iris-setosa
2        4.7        3.2        1.3        0.2  Iris-setosa
3        4.6        3.1        1.5        0.2  Iris-setosa
4        5.0        3.6        1.4        0.2  Iris-setosa

In [57]:
df.isnull().values.any()

False

In [58]:
df.columns

Index(['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class      '], dtype='object')

In [59]:
print(len(df.columns))

5

In [60]:
df.columns[4]

'class      '

In [61]:
X = df[df.columns[0:4]]

In [62]:
X.head(5)

   sepal_len  sepal_wid  petal_len  petal_wid
0        5.1        3.5        1.4        0.2
1        4.9        3.0        1.4        0.2
2        4.7        3.2        1.3        0.2
3        4.6        3.1        1.5        0.2
4        5.0        3.6        1.4        0.2

In [63]:
X.shape

(150, 4)

In [64]:
print(df[df.columns[4]].value_counts())

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class      , dtype: int64

In [65]:
Ydf = df[df.columns[4]].map({'Iris-setosa':0,'Iris-versicolor' : 0, 'Iris-virginica': 1})

In [66]:
Ydf.shape

(150,)

In [67]:
Ydf.value_counts()

0    100
1     50
Name: class      , dtype: int64

In [68]:
Ydf.shape

(150,)

In [69]:
Ydf.isnull().any()

False

In [70]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Ydf, test_size=0.2, random_state=300)

In [71]:
X_train.shape

(120, 4)

In [72]:
X_train.head(5)

     sepal_len  sepal_wid  petal_len  petal_wid
127        6.1        3.0        4.9        1.8
102        7.1        3.0        5.9        2.1
31         5.4        3.4        1.5        0.4
78         6.0        2.9        4.5        1.5
69         5.6        2.5        3.9        1.1

In [73]:
Y_train.shape

(120,)

In [74]:
Y_train.head(5)

127    1
102    1
31     0
78     0
69     0
Name: class      , dtype: int64

In [75]:
# ConvergenceWarning: lbfgs failed to converge (status=1):
# STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.
lg = LogisticRegression()

In [76]:
lg = lg.fit(X_train,Y_train)

In [95]:
confusion_matrix(Y_train, Y_pred_train)

array([[79,  0],
       [ 0, 41]], dtype=int64)

In [96]:
Y_pred = dt.predict(X_test)

In [97]:
confusion_matrix(Y_test, Y_pred)

array([[21,  0],
       [ 1,  8]], dtype=int64)

# DT classifier

In [77]:
dt = DecisionTreeClassifier()

In [78]:
dt = dt.fit(X_train, Y_train)

In [79]:
Y_pred_train = dt.predict(X_train)

In [80]:
confusion_matrix(Y_train, Y_pred_train)

array([[79,  0],
       [ 0, 41]], dtype=int64)

In [81]:
Y_pred = dt.predict(X_test)

In [82]:
confusion_matrix(Y_test, Y_pred)

array([[21,  0],
       [ 1,  8]], dtype=int64)

# RF

In [83]:
rf = RandomForestClassifier()

In [84]:
rf = rf.fit(X_train,Y_train)

In [85]:
Y_pred_train = rf.predict(X_train)

In [86]:
confusion_matrix(Y_train, Y_pred_train)

array([[79,  0],
       [ 0, 41]], dtype=int64)

In [87]:
Y_pred = dt.predict(X_test)

In [88]:
confusion_matrix(Y_test, Y_pred)

array([[21,  0],
       [ 1,  8]], dtype=int64)

# Gradient Boosting

In [89]:
gb = GradientBoostingClassifier()

In [90]:
gb = gb.fit(X_train, Y_train)

In [91]:
Y_pred_train = rf.predict(X_train)

In [92]:
confusion_matrix(Y_train, Y_pred_train)

array([[79,  0],
       [ 0, 41]], dtype=int64)

In [93]:
Y_pred = dt.predict(X_test)

In [94]:
confusion_matrix(Y_test, Y_pred)

array([[21,  0],
       [ 1,  8]], dtype=int64)